# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.cpython-*
# Virtual environments
.env/
.venv/

# OS artifacts
.DS_Store

# # Model/cache outputs
# cache/
# data/cache/

# Logs
logs/
*.log

src/__pycache__/evaluation.cpython-312.pyc
